.header{
    background-image: url('../../Images/background.jpg');
    min-height: 500px;
    

}
.header-text{
  
    height: 300px;
    width: 650px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;    
    background-color: white;
    margin-top: 40px;
    color:black;
}